<!-- app/views/animals/index.html.erb -->
<h1>Liste des Animaux</h1>
<ul>
  <% @animals.each do |animal| %>
    <li>
      <%= link_to "#{animal.name} - #{animal.species}", animal_path(animal) %> - Propriétaire ID : <%= animal.owner_id %>
    </li>
  <% end %>
</ul>
